.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 15%;
  border-radius: 20px;
}

.saveCard {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 15%;
  border-radius: 5px;
  background-color: #1885FF;
}

.img {
  border-radius: 5px 5px 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.carImgStyle {
  padding-top: 50px;
  border-radius: 20px 20px 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 9px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.saveCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 10px 5px;
  line-height: 1.6;
}

.carContainer {
  padding: 47px 5px;
  text-align: center;
  line-height: 1.6;
}

.saveContainer {
  padding: 10px 10px;
  text-align: center;
}

.options {
  padding-inline-start: 7%;
  margin-right: 7%;
  list-style-type: none;
}

.item {
  display: flex;
  justify-content: space-between;
}

.flexInput {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.flexSubmit {
  display: flex;
  justify-content: flex-start;
  margin-left: 4.5%
}

.border {
  border: rgb(24, 133, 255);
  padding: 10px 15px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.border:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.textInput {
  margin-top: 5%;
  height: 25px;
  border-radius: 5px;
}

.buttonStyle {
  border-radius: 5px;
  background-color: #FF8C00;
  color: white;
  padding: 5px 10px;
  font-size: 18px; 
  margin-left: 15px;
}

.button:hover {
  background-color: #FFA500;
}




