.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 15%;
  border-radius: 5px;
}

.saveCard {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 15%;
  border-radius: 5px;
  background-color: #1885FF;
}

.img {
  border-radius: 5px 5px 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.saveImg {
  border-radius: 5px 5px 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.saveCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 10px 20px;
  text-align: center;
}

.saveContainer {
  padding: 10px 10px;
  text-align: center;
}

.options {
  list-style-type: none;
}

.saveEntry {
  display: block;
  margin: 0 auto;
  margin-left: 20%;
  width: 20%;
  margin-top: 5%;
  align-content: center;
}

.saveQuestion {
  display: flex;
  margin-left: 5px;
}

.button {
  margin-top: 20px;
  margin-left: 45px;
}


