.container {
  margin-top: 0px;
  padding-top: 37px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.mapContainer {
  grid-column-start: 2;
  grid-column-end: 5;
}

.formContainer {
  padding-left: 5%;
  grid-column-start: 1;
  grid-column-end: 2; 
  z-index: 6;
  height: 35em;
}

.statsContainer {
  margin-top: 10px;
  margin-bottom: 5%;
  background-color: #FFF;
  z-index: 7;
  height: 20em;
  grid-column-start: 1;
  grid-column-end: 5;
}

.statsFlex {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}


.distancePop {
  width: 22%;
  height: 10%;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 35%;
  margin-left: 70%;
  z-index: 5;
  background-color: rgba(22, 176, 232, 0.5);
  text-align: center;
}