.mainContainer {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: -10px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.flexTable {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0.8em 1.2em;
  list-style: none;
  overflow: hidden;
  border: solid 3px white;
  text-align: center;
}

.align {
  display: inline-block;
  text-align: left;
}

.category {
  text-transform: uppercase;
  font-weight: 700;
}

.title {
  color: white;
  padding: 15px;
  background: rgb(22, 176, 232);
  text-align: left;
}